@import "./variables";

@mixin displayFlexJaf(
  $justifyContent: initial,
  $alignItems: initial,
  $flexDirection: initial
) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-direction: $flexDirection;
}

@mixin displayGridP($placeItems: initial) {
  display: grid;
  place-items: $placeItems;
}

@mixin whbc(
  $width: initial,
  $height: initial,
  $background: $primaryBackgroundColor,
  $color: $primaryColor
) {
  width: $width;
  height: $height;

  @include bc($background, $color);
}

@mixin bc($background: $primaryBackgroundColor, $color: $primaryColor) {
  background: $background;
  color: $color;
}

@mixin mp($margin: initial, $padding: initial) {
  margin: $margin;
  padding: $padding;
}
