// font
$primaryFontFamily: (
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  "Roboto",
  "Oxygen",
  "Ubuntu",
  "Cantarell",
  "Fira Sans",
  "Droid Sans",
  "Helvetica Neue",
  sans-serif
);

// app
$primaryAppBackgroundColor: #dadbd3;
$secondaryAppBackgroundColor: #ededed;
$primaryAppColor: black;

// sidebar
$primarySidebarBackgroundColor: lightgray;
$secondarySidebarBackgroundColor: #f6f6f6;
$primarySidebarColor: gray;
$secondarySidebarColor: black;

// chat
$primaryChatBackgroundColor: lightgray;
$secondaryChatBackgroundColor: #f6f6f6;
$tertiaryChatBackgroundColor: #dcf8c6;
$primaryChatColor: black;
$secondaryChatColor: gray;

// login
$primaryLoginBackgroundColor: #0a8d48;
$primaryLoginColor: white;

// shadow
$primaryShadowColor: rgba(#000000, 0.75);
