// font
$primaryFontFamily: (
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  "Roboto",
  "Oxygen",
  "Ubuntu",
  "Cantarell",
  "Fira Sans",
  "Droid Sans",
  "Helvetica Neue",
  sans-serif
);

// background
$primaryBackgroundColor: #dadbd3;
$secondaryBackgroundColor: #ededed;

// color
$primaryColor: black;

// shadow
$primaryShadowColor: rgba(#000000, 0.75);
