@import "../../styles/variables";
@import "../../styles/mixins";

.sidebarChat {
  display: flex;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid $primarySidebarBackgroundColor;
  $secondarySidebarColor: black;
  transition: background-color 200ms ease-in;
  text-decoration: none;

  &:hover {
    background-color: $primarySidebarBackgroundColor;
  }

  &__info {
    margin-left: 15px;

    > h2 {
      font-size: 16px;
      color: $secondarySidebarColor;
    }

    > p {
      color: $primarySidebarColor;
    }
  }
}
